<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgsvc.wxserv.dao.ChannelCustomInfoDao">
    <select id="queryChannelCustomInfo" parameterType="Integer" resultType="com.lgsvc.wxserv.entity.ChannelCustomInfoEntity">
        SELECT T1.id ,
        T1.sortstr,
        T1.sortint,
        T1.descript,
        T1.devname,
        T1.devaddr,
        T1.sortid,
        T1.gatherway,
        T1.comnum,
        T1.sv,
        T1.lowvalue,
        T1.highvalue,
        T1.l2,
        T1.h2,
        T1.use2,
        T1.xa,
        T1.xb,
        T1.state,
        T1.agroup,
        T2.id,
        T2.chx,
        T2.val,
        T2.state
        FROM cw_channel T1 LEFT JOIN
        (SELECT * FROM cw_tempcurr WHERE customerid=#{customerid}  ORDER BY intime  DESC LIMIT 0,1 ) as T2
        on T1.customerid=T2.customerid
        WHERE t1.customerid=#{customerid}
    </select>

    <select id="queryChannelCustomInfoCountByCustomId" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM cw_channel T1 LEFT JOIN
        (SELECT * FROM cw_tempcurr WHERE customerid=#{customerid}  ORDER BY intime  DESC LIMIT 0,1 ) as T2
        on T1.customerid=T2.customerid
        WHERE t1.customerid=#{customerid}
    </select>

</mapper>