<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgsvc.wxserv.dao.CwTempTempDao">
    <resultMap id="channelHistList" type="com.lgsvc.wxserv.entity.CwTempTempEntity">
        <result column="customerid" property="customer_id"/>
        <result column="intime" property="inTime"/>
        <result column="flag" property="flag"/>
        <result column="val" property="val"/>
        <result column="sv" property="sv"/>
        <result column="lowvalue" property="lowvalue"/>
        <result column="highvalue" property="highvalue"/>
        <result column="format_data" property="format_data"/>
    </resultMap>
    <select id="queryChannelTempTempList" resultMap="channelHistList" statementType="STATEMENT">

        SELECT  T1.customerid as customer_id, T1.intime , T1.intime, lower(T1.${chx}) as val ,T2.sv ,
                T2.lowvalue, T2.highvalue, DATE_FORMAT(T1.intime,'%Y%m%d:%H%i%s') as format_data
        FROM cw_temptemp T1 , cw_channel T2
        WHERE
        T1.customerid=${customer_Id}
        and T1.customerid=t2.customerid
        and T2.sortstr='${chx}'
        and T1.intime !=0
        ORDER BY T1.intime DESC
        LIMIT ${rowIndex},${pageSize};
    </select>

    <select id="queryChannelTempTempListcount" resultType="Integer">
        SELECT COUNT(*)
        FROM cw_temptemp T1
        WHERE
        T1.customerid=#{customer_Id}
        and T1.intime !=0
    </select>
</mapper>