<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgsvc.wxserv.dao.ChxChannelCurDao">
    <resultMap id="ChxChannelRestMap" type="com.lgsvc.wxserv.entity.ChxChannelCurEntity">
        <result column="channel_id" property="channel_id"/>
        <result column="sortstr" property="sortstr"/>
        <result column="sortint" property="sortint"/>
        <result column="descript" property="descript"/>
        <result column="lowvalue" property="lowvalue"/>
        <result column="highvalue" property="highvalue"/>
        <result column="val" property="val"/>
        <result column="state_cur" property="state_cur"/>
    </resultMap>
    <select id="queryChxChannelCurList" parameterType="Integer" resultMap="ChxChannelRestMap">
        SELECT T1.id as channel_id , T1.chx as sortstr , T2.sortint,
        T2.descript, T2.sv,t2.lowvalue, T2.highvalue, T1.val,
        T1.cur as state_cur
        FROM cw_tempcurr T1 LEFT JOIN cw_channel T2 on T1.customerid=T2.customerid and T1.chx =T2.sortstr
        where
        T1.customerid=#{customerid}
        and T1.chx=#{chx}
        ORDER BY T1.intime DESC
        LIMIT #{rowIndex},#{pageSize};
    </select>

    <select id="queryChxChannelCurCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM cw_tempcurr T1 LEFT JOIN cw_channel T2 on T1.customerid=T2.customerid and T1.chx =T2.sortstr
        where
        T1.customerid=#{customerid}
        and T1.chx=#{chx}
    </select>

</mapper>